.ant-select {
    display: block !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 23px !important;
    color: var(--content-primary) !important;
  
    .ant-select-selector {
      height: 40px !important;
      padding: 0 12px !important;
      background: none !important;
      border: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
  
      .ant-select-selection-item,
      .ant-select-selection-placeholder {
        line-height: 40px !important;
      }
  
      .ant-select-selection-placeholder {
        font-weight: 400 !important;
        font-size: 15px !important;
        color: var(--content-tertiary) !important;
      }
    }
  
    &-sm {
      .ant-select-selector {
        height: 32px !important;
  
        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          line-height: 32px !important;
        }
      }
    }
  
    &-lg {
      .ant-select-selector {
        height: 48px !important;
  
        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          line-height: 48px !important;
        }
      }
    }
  
    &.ant-select-open {
      .ant-select-selector {
        border: 0 !important;
        box-shadow: none !important;
      }
    }
  
    .ant-select-arrow {
      width: 24px;
      min-width: 24px;
      height: 24px;
      margin-top: -10px;
      color: var(--content-primary);
  
      &.ant-select-arrow-loading {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: none;
  
        > span {
          display: block;
          color: var(--content-tertiary);
        }
      }
    }
  
    &:hover {
      .ant-select-selector {
        border: none !important;
      }
    }
  
    &.ant-select-multiple {
      &.ant-select {
        &-sm {
          .ant-select-selector {
            min-height: 32px !important;
          }
        }
  
        &-lg {
          .ant-select-selector {
            min-height: 48px !important;
  
            .ant-select-selection-item,
            .ant-select-selection-placeholder {
              min-height: 32px;
              line-height: 32px !important;
            }
          }
        }
      }
  
      .ant-select-selector {
        height: auto !important;
        min-height: 40px !important;
        padding: 2px 4px !important;
      }
  
      .ant-select-selection-item {
        min-height: 23px;
        line-height: 23px !important;
        background-color: var(--background-blue) !important;
        color: var(--content-white) !important;
        border-color: var(--border-blue) !important;
        border-radius: var(--border-radius-4);
      }
  
      .ant-select-selection-overflow {
        display: flex !important;
      }
  
      .ant-select-selection-placeholder {
        background: none !important;
      }
  
      .ant-select-selection-item-remove {
        color: var(--content-white) !important;
      }
    }
  
    &.ant-select-disabled {
      .ant-select-selector {
        background: none !important;
        color: var(--content-tertiary) !important;
        border: none !important;
      }
    }
  
    .ant-select-selection-search {
      width: 100% !important;
      margin-left: 0;
  
      .ant-select-selection-search-input {
        height: 100% !important;
        padding: 0 4px !important;
      }
    }
  }
  
  .ant-select-dropdown {
    padding: 4px !important;
    background-color: var(--background-white) !important;
    box-shadow: var(--shadow-input) !important;
    border-radius: var(--border-radius-4) !important;
  }
  
  .ant-select-item {
    min-height: 36px !important;
    padding: 8px !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 150% !important;
    transition: all 0.1s ease-in-out !important;
  
    &:hover {
      color: var(--content-white) !important;
    }
  
    &.ant-select-item-option {
      border-radius: var(--border-radius-4) !important;
  
      &:hover {
        .ant-select-item-option-content {
          color: var(--content-white) !important;
        }
      }
  
      &-active,
      &-selected {
        background-color: var(--background-blue) !important;
  
        .ant-select-item-option-content {
          color: var(--content-white) !important;
        }
      }
  
      &-disabled,
      &-disabled:hover {
        .ant-select-item-option-content {
          color: var(--content-tertiary) !important;
        }
      }
    }
  }
  