.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    background-color: var(--background-white);
  }
  
  .toggle {
    color: var(--content-primary);
    cursor: pointer;
    transition: all .2s ease;
  
    &:hover {
      opacity: .8;
    }
  }
  
  .settings {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .name {
    display: grid;
    place-items: center;
    width: 44px;
    height: 44px;
    font-weight: 700;
    line-height: 1;
    background-color: var(--background-green);
    color: var(--content-white);
    border-radius: 50%;
    cursor: pointer;
    transition: all .15s ease;
  
    &:hover {
      opacity: .8;
    }
  }
  
  .overlay {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--shadow-dropdown);
  }
  
  .language,
  .item {
    display: flex;
    column-gap: 8px;
    align-items: center;
    padding: 8px 16px;
    transition: all .3s ease;
  
    &:hover,
    &.active {
      background-color: var(--background-blue);
      color: var(--content-white);
    }
  }
  
  .currentLanguage {
    cursor: pointer;
  }